.listadetarefas {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10px;
    border: 10px solid black;
    border-radius: 19px;
    background-color: rgb(106, 124, 163);
    min-width: 800px;
    max-width: 800px;
    min-height: 600px;
    max-height: 600px;
    overflow: auto;
}

.lis {
    padding: 11px;
    font-size: 1rem;
    font-weight: bold;
    border: 3px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.15s;
}

#edição {
    padding: 11px;
    font-size: 1rem;
    font-weight: bold;
    border: 3px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.lis:hover {
    box-shadow: 3px 3px 5px black;
}

.texto {
    flex: 1;
    max-width: 390px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}