* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

#projetos {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 80%;
}

.projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    border: 2px solid black;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.tittle {
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 3em;
}

a {
    text-decoration: none;
    color: black;
}