.page * {
    margin: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page h1 {
    font-size: 3em;
}

.page a {
    text-decoration: none;
    color: black;
}