.section * {
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

.body {
    min-height: 100vh;
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
}

.section {
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    border: 10px solid darkred;
}

.section .botoes {
    margin-bottom: 30px;
}

.section .botoes button {
    margin: 20px;
}

.section p.animated {
    animation-name: numeroanimaçao;
}

.section p {
    font-size: 200px;
    padding-top: 10px;
    animation-name: numeroanimaçao;
    animation-duration: 150ms;
}

.section h1 {
    font-size: 100px;
    padding-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.section button {
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.section .zerar {
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    transition: background-color 0.5s, padding 0.5s, border-radius 0.5s, font-size 0.5s;
}

.section .zerar:hover {
    background-color: yellow;
    padding: 13px;
    border-radius: 30px;
    font-size: 19px;
    transition: 0.5s;
}

.section .negativos {
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    transition: background-color 0.5s, padding 0.5s, border-radius 0.5s, font-size 0.5s;
}

.section .negativos:hover {
    background-color: red;
    padding: 13px;
    border-radius: 30px;
    font-size: 19px;
    transition: 0.5s;
}

.section .positivos {
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    transition: background-color 0.5s, padding 0.5s, border-radius 0.5s, font-size 0.5s;
}


.section .positivos:hover {
    background-color: limegreen;
    padding: 13px;
    border-radius: 30px;
    font-size: 19px;
    transition: 0.5s;
}

.section .aleatorio{
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    transition: background-color 0.5s, padding 0.5s, border-radius 0.5s, font-size 0.5s;
}


.section .aleatorio:hover {
    background-color: yellow;
    padding: 13px;
    border-radius: 30px;
    font-size: 19px;
    transition: 0.5s;
}

@keyframes numeroanimaçao {
    from {opacity: 30%;margin-top: 12px;}
    to {opacity: 100%;margin-top: 0px;}
}